registry = https://registry.npm.taobao.org
sass_binary_site = https://npm.taobao.org/mirrors/node-sass
dist_url = https://npm.taobao.org/mirrors/node
python_mirror = https://npm.taobao.org/mirrors/python
